
.head {
  width: 100%;
}

.body {
  width:max-content;
  
}

 h2, h3, h4, h5, h6 {
  margin-top: 30px;
  margin-bottom: 0.5rem;
}

  /* Navigation */
.customNav {
    position: fixed;
    top: 0;
    width: 100% !important;
    background: url("../images/transparency.png");
    background-color: rgb(12, 118, 225) !important;
    background-size: cover;
    z-index: 10;
  }
  

  .customNav a {
    color: white !important;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-top: 20px;
    padding-right: 15px;
    width: 75px;
  }
  .nav-item {
    margin: 0px 20px;
  }

.navCTA {
    font-size: 15px;
  }
  
  .p ul {
    list-style: decimal;
  }



.jumbotron {
    background-image: url(../Images/istockphoto-1326304939-612x612.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #C1C3C4;
    
}

.lead {
    margin-right: 120px;
    text-align: center;
    color: azure;
}

.jumbotron img{
    margin-right: 50px;
    position: relative;
    top: 20px;
}

.card{
  margin-bottom: 30px;
}

.container-fluid.mb-5.ml-4{
  position: relative;
  bottom: 5px;
  padding-block-start: 20px;

}

.cardContainer.col-lg-10.mb-5 {
  position: relative;
  left: 70px;
  top: 20px
}

.h3, h3 {
  font-size: 2rem;
  position: relative;
  right: 316px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-content: center space-around;
  font-size: 30px;
  font-weight: bolder;
  
}

footer ul li {
    font-weight: bold;

}

footer ul li a {
  text-decoration: none;
  color:rgb(1, 1, 1);
  padding: 10px;
  font-weight: bold;
}

footer ul li a:hover {
  background: black;
  color: white;
  border-radius: 15px;
}

/* Media query for tablet screens and smaller screens */
@media screen and (max-width: 576px) {
  header {
      justify-content: center;
      padding: 100px;
  }

  .jumbotron img {
    margin-right: 70px;
    position: relative;
    top: 25px;
    right: 30px;
}

.lead {
  display: none;
}

  header nav ul {
      min-height: 80px;
  }

  .hero-banner {
      flex-direction: column;
  }
  header nav ul li a {
    padding: 30px;
    font-size: 28px;
    margin: 20px 20px 0 0;
    font-weight: bold;
  }

  .hero-banner h2 {
    color: var(--black);
    font-size: 40px;
    font-weight: bold;
    position:absolute;
    left: 350px;
    top: 485px;
  }

  .hero-banner img {
      height: 180px;
      position:absolute;
      left: 200px;
      top: 445px;
  }

  .about-me {
      flex-direction: column;
  }

  .title {
    border-right: none;
  }

  .title div {
    align-content: left;
  }

  .title h2 {
      border-bottom: 5px none;
      border-right: none;
      text-align: center;
      min-width: 100%;
      max-width: 100%;
      padding: 0px;
  }

  .about-me div {
      font-size: 16px;
      line-height: 1.6;
      width: 80%;
      padding: 40px;
      align-self: left;
  }

  .my-work h2 {
      flex-direction: column;
      padding: 30px 0;
  }

  .grid-background {
      width: 100%;
      padding: 80px;
  }
  
  .projects-grid {
      width: 80%;
  }

 
  footer h2 {
      flex-direction: column;
      
  }

  footer ul {
      flex-direction: column ;
      padding-top: 10px ;
  }

  .footer-background {
      width: 100%;
  }

  footer ul li a {
      padding: 20px;
      text-align: center;
      font-size: 18px;
  }
}


/*  End styling for footer section */




